*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  font-weight: 200;
  color: black;
  overflow-x: hidden;
}

::selection {
  background-color: green;
  color: whitesmoke;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

header {
  background-color: greenyellow;
  height: auto;
  padding: 1.5em 5em 1.5em 5em;
  box-shadow: 0 0 1em grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

header h1 {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header h1 span {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

header .carrito-btn {
  display: flex;
  align-items: flex-end;
  gap: 1em;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 0.5em 0.3em 0.5em;
  box-shadow: 0 0 1em grey;
  transition: all 0.3s ease;
}

header .carrito-btn .carrito-number {
  font-size: 1.5rem;
  -webkit-text-stroke: 1px black;
}

header .carrito-btn .carrito-icon {
  font-size: 2rem;
}

header .carrito-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.3);
}

main {
  width: 90%;
  margin: auto;
}

main h2 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  text-align: center;
  margin: 1em 0 0.5em 0;
  color: greenyellow;
  -webkit-text-stroke: 0.1px green;
}

.productos form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.productos form #search {
  width: 50%;
  height: 2.5em;
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  border: 2px solid grey;
  padding: 0 1em 0 1em;
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 0 0.5em grey;
}

.productos form #search::placeholder {
  opacity: 0.75;
  color: grey;
}

.productos form #filters {
  width: 8em;
  height: 2.5em;
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid grey;
  outline: none;
  padding: 0 1em 0 1em;
  color: black;
  background-color: whitesmoke;
  box-shadow: 0 0 0.5em grey;
  cursor: pointer;
}

.productos form #filters option {
  font-weight: bold;
}

.productos .listado-prod {
  width: 80%;
  margin: 5em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}

.productos .listado-prod .producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 18em;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 1em grey;
  transition: all 0.5s ease;
}

.productos .listado-prod .producto:hover {
  border: 2px solid green;
  box-shadow: 0 0 2em green;
}

.productos .listado-prod .producto .img {
  font-size: 4rem;
}

.productos .listado-prod .producto h3 {
  font-size: 1.5rem;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.productos .listado-prod .producto .btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: #2d7dff;
  padding: 0.5em 0.75em 0.5em 0.75em;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}

.productos .listado-prod .producto .btn:hover {
  cursor: pointer;
  background-color: #0f50af;
}

footer {
  margin-top: 8em;
  background-color: #6eaf6e;
  box-shadow: 0 0 1em black;
}

.creator {
  padding-top: 3em;
  margin-bottom: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator h3 {
  margin-right: 2em;
  font-size: 1.1rem;
  color: black;
  font-weight: 600;
}

.creator h3 span {
  margin-left: 0.3em;
  transition: all 0.2s ease;
}

.creator h3 span:hover {
  color: greenyellow;
  text-shadow: 0 0 0.5em greenyellow;
}

.creator ul {
  list-style-type: none;
  display: flex;
  gap: 1.25em;
}

.creator ul li a {
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 1em black;
  transition: all 0.3s ease;
}

.creator ul li a:hover {
  transform: scale(1.1);
  background-color: greenyellow;
  box-shadow: none;
  filter: drop-shadow(0 0 0.5em greenyellow);
}

.creator ul li a img {
  width: 2.8em;
}

.copy {
  padding-bottom: 2.5em;
  font-size: 1.1rem;
  text-align: center;
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  footer .creator {
    flex-direction: column;
    gap: 1em;
  }
  footer .creator h3 {
    margin: 0;
  }
}
